USE [master]
GO
/****** Object:  Database [ATM]    Script Date: 7/27/2015 9:56:02 PM ******/
CREATE DATABASE [ATM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ATM.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ATM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ATM_log.ldf' , SIZE = 560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATM]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/27/2015 9:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CardAccounts]    Script Date: 7/27/2015 9:56:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardAccounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CardNumber] [nvarchar](10) NOT NULL,
	[CardPIN] [nvarchar](4) NOT NULL,
	[CardCash] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.CardAccounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CardAccounts] ON 

INSERT [dbo].[CardAccounts] ([Id], [CardNumber], [CardPIN], [CardCash]) VALUES (1, N'1234567890', N'0000', CAST(1500.00 AS Decimal(18, 2)))
INSERT [dbo].[CardAccounts] ([Id], [CardNumber], [CardPIN], [CardCash]) VALUES (2, N'a123456789', N'1111', CAST(1500.00 AS Decimal(18, 2)))
INSERT [dbo].[CardAccounts] ([Id], [CardNumber], [CardPIN], [CardCash]) VALUES (3, N'ab12345678', N'0101', CAST(1500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CardAccounts] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CardNumber]    Script Date: 7/27/2015 9:56:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CardNumber] ON [dbo].[CardAccounts]
(
	[CardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
